@import 'modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.125
);

$font-stack: 'Open Sans', sans-serif;
$header-font: 'Playfair Display', serif;
$plot-font: 'Open Sans', sans-serif;
$primary-color: #444;

html, body {
    height: 100%;
}

html {
  font-size: ms(1);
}

body {
  font: 100% $font-stack;
  line-height: ms(3);
  color: $primary-color;
}

h1, h2, h3 {
  font-family: $header-font; 
}

h1 {
  font-size: ms(6);
}

h2 {
  font-size: ms(5);
}

header {
  background-color: $primary-color;
  color: #FFFFFF;
  padding: 12px;
  h1 {
      font-size:ms(8);
      margin: 0;
  }
  img {
      padding-left: 12px;
      float: left;
  }
}

.container-fluid {
    margin-bottom: -120px;
    min-height: 100%;
}

.container-fluid:after {
  content: "";
  display: block;
}

#container {
  padding: 12px;
}

.inactive {
    color: #cccccc;
}

ul {
    li {
        padding: 6px 0 6px 0;
    }
}

footer, .container-fluid:after {
    height: 120px;
}

footer {
    background-color: #EEEEEE;
    padding: 12px 0;
    width: 100%;
}

/* ACCORDION OVERRIDES */


.ui-widget {
    font-family: $plot-font;   
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
 background: $primary-color; 
 border: 1px solid lighten($primary-color,50%);
}

/* VISUALIZATION STYLES */

.highcharts-title {
  font-family: $header-font;
}

.highcharts-subtitle, .highcharts-axis-title, .highcharts-legend-item {
  font-family: $plot-font;
}

#median-full-time-full-year {
    height: 550px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    #doctors {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    header {
        text-align:center;
        img { 
            padding-bottom: 6px;
            float: none;
        }
        h1 {
            font-size: ms(3);
        }
    }
}
